<extend name="Public:base" />

<block name='top-nav-visable'>visibility:hidden;;</block>
<block name="content">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <table class="table">
                <thead>
                <th  class="swiper-slide" style="width: 40%">名称</th>
                <th  class="swiper-slide">最新</th>
                <th class="swiper-slide" >涨幅</th>
                <th class="swiper-slide" >换手率</th>
                </thead>
                <tbody id="mainInfo">
                </tbody>
            </table>


        </div>
    </div>
    <div id="info" data-info="{$info}"></div>
</block>

<block name='bottom-nav-visable'>visibility: hidden</block>

<block name="js">

    <script type="text/javascript" src="{$info}"></script>
    <script>
        var t =  "{$data}".split(",");
        var eles = new Array;
        for(var i=0; i< t.length; ++i)
        {
            var temp = 'v_'+t[i];

            eles[i] = eval(temp).split("~");



            $("#mainInfo").append(
                    "<tr>"+
                    "<td>"+eles[i][1]+"</td>"+
                    "<td>"+eles[i][3]+"</td>"+
                    "<td>"+eles[i][32]+"%</td>"+
                    "<td>"+eles[i][38]+"%</td>"+
                    "</tr>");
        }
        console.log(eles);   //控制台中测试数据



    </script>

    <script type="text/javascript" src="__PUBLIC__/bower_components/swiper/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            freeMode: true
        });

        function re()
        {
            window.location.reload();
        }

//        setTimeout('re()',3000);
    </script>

</block>